*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
}

h1 {
    margin: 20px;
    text-align: center;
    font-weight: bolder;
}

.main-title-link {
    color: black;
    font-size: 35px;
}


a {
    color: black;
    text-decoration: none !important;
    font-weight: bold;
    font-size: 20px;
}

.col-number-identifiers {
    text-align: center;
    font-size: 12px;
    font-weight: bold;

    padding-top: 23px;
    padding-bottom: 23px;

    margin: 15px;
}

.number-identifiers{
    text-align: center;
    border: none !important;
    box-shadow: none !important;
    font-weight: bold;
}

.table_1 {
    margin-left: auto;
    margin-right: auto;
}

.table_2 {
    position: absolute;
    right: 110px;
    top: 880px;
}

.table-1-tr td, .table-2-tr td {
    width: 4vw;
    /* border: solid 2px; */
    border-collapse: collapse;
    /* border-color: aliceblue; */
    border-radius: 10%;
    empty-cells: hide;
    font-size: 12px;

    box-shadow: 3px 3px 3px rgba(62, 42, 42, 0.201);  
}